.page__header {
    padding: 2rem 0 2rem 0;

    h1 {
        font-family: 'Special Elite', cursive;
        font-weight: 700;
    }
    h2 {
        font-family: 'Special Elite', cursive;
        font-size: 1.2rem;

        &::after {
            content: "";
            display: block;
            width: 75px;
            border: 2px solid rgb(0, 0, 0);
            margin-top: 20px;
        }
    }
}