
.page__sheet {
    .sheet--name {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 0 0 1rem 0;

        h1 {
            font-family: 'Special Elite', cursive;
            font-weight: 700;
        }
        h2 {
            font-family: 'Nothing You Could Do', cursive;
            font-size: 1.4em;
        }
    }

    .sheet--portrait {
        img {
            border-radius: 20px;
        }
    }

    .sheet__patterns {
        .sheet--archetype {
            list-style-type: none;
            text-align: center;
            padding: 0 0.5rem 0 0;
            border-bottom: 2px solid rgba(0, 0, 0, 0.16);
    
            li {
                margin: 0.5rem 0 1rem 0;
    
                span:nth-child(1) {
                    display: block;
                    font-family: 'Special Elite', cursive;
                    font-weight: 700;
                    text-transform: uppercase;
                }
    
                span:nth-child(2) {
                    display: block;
                    font-family: 'Nothing You Could Do', cursive;
                    font-size: 1.2rem;
                }
            }
        }
    
        .sheet--chronicles,
        .sheet--purpose {
            text-align: center;
            border-bottom: 2px solid rgba(0, 0, 0, 0.16);
            
            h4 {
                font-family: 'Special Elite', cursive;
                font-weight: 700;
                text-transform: uppercase;
            }
            p {
                font-family: 'Nothing You Could Do', cursive;
                font-size: 1.3rem;
            }
        }
    }

    .sheet__attributes {
        text-align: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.16);
        padding: 1rem 0 0 0;
        
        h4 {
            font-family: 'Special Elite', cursive;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .sheet__background {
        border-bottom: 2px solid rgba(0, 0, 0, 0.16);
        padding: 1rem 0 0 0;
    }
}



#attributesChart {
    text-transform: uppercase;
}
// .sheet__attributes {
    
// }
