/* fonts */
@font-face {
  font-family: 'Creepster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/creepster/v9/AlZy_zVUqJz4yMrniH4hdQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fredericka the Great';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/frederickathegreat/v10/9Bt33CxNwt7aOctW2xjbCstzwVKsIBVV-9Sk.ttf) format('truetype');
}
@font-face {
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/graduate/v8/C8cg4cs3o2n15t_2YxgR.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Barcode 128 Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebarcode128text/v16/fdNv9tubt3ZEnz1Gu3I4-zppwZ9CWZ16Z0w5cV0.ttf) format('truetype');
}
@font-face {
  font-family: 'Limelight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/limelight/v11/XLYkIZL7aopJVbZJHDuYPQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUQjIg1_i6t8kCHKm45_Qphzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_aZA7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_epG7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Nothing You Could Do';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nothingyoucoulddo/v10/oY1B8fbBpaP5OX3DtrRYf_Q2BPB1SnfZb0OJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansmono/v11/BngrUXNETWXI6LwhGYvaxZikqZqK6fBq6kPvUce2oAZcdthSBUsYck4-_FNI49o.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansmono/v11/BngrUXNETWXI6LwhGYvaxZikqZqK6fBq6kPvUce2oAZcdthSBUsYck4-_NNJ49o.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansmono/v11/BngrUXNETWXI6LwhGYvaxZikqZqK6fBq6kPvUce2oAZcdthSBUsYck4-_A1J49o.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansmono/v11/BngrUXNETWXI6LwhGYvaxZikqZqK6fBq6kPvUce2oAZcdthSBUsYck4-_FNJ49o.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansmono/v11/BngrUXNETWXI6LwhGYvaxZikqZqK6fBq6kPvUce2oAZcdthSBUsYck4-_GFJ49o.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansmono/v11/BngrUXNETWXI6LwhGYvaxZikqZqK6fBq6kPvUce2oAZcdthSBUsYck4-_I1O49o.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansmono/v11/BngrUXNETWXI6LwhGYvaxZikqZqK6fBq6kPvUce2oAZcdthSBUsYck4-_LRO49o.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansmono/v11/BngrUXNETWXI6LwhGYvaxZikqZqK6fBq6kPvUce2oAZcdthSBUsYck4-_NNO49o.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansmono/v11/BngrUXNETWXI6LwhGYvaxZikqZqK6fBq6kPvUce2oAZcdthSBUsYck4-_PpO49o.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v16/ga6Kaw1J5X9T9RW6j9bNfFIWbQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v16/ga6Vaw1J5X9T9RW6j9bNfFIu0RWedA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v16/ga6Iaw1J5X9T9RW6j9bNTFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v16/ga6Law1J5X9T9RW6j9bNdOwzTRA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserifjp/v15/xn7mYHs72GKoTvER4Gn3b5eMXNg.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserifjp/v15/xn77YHs72GKoTvER4Gn3b5eMZFqJRkg.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserifsc/v16/H4chBXePl9DZ0Xe7gG9cyOj7oqA.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserifsc/v16/H4c8BXePl9DZ0Xe7gG9cyOj7miKxSzY.otf) format('opentype');
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v9/e3t4euO8T-267oIAQAu6jDQyK0nS.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Rye';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rye/v8/r05XGLJT86YDFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/specialelite/v11/XLYgIZbkc4JPUL5CVArUVL0nhnc.ttf) format('truetype');
}
/*
font-family: 'Creepster', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Graduate', cursive;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Limelight', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Noto Sans Mono', monospace;
font-family: 'Noto Serif', serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Noto Serif SC', serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Rye', cursive;
font-family: 'Special Elite', cursive;
*/
.page__header {
  padding: 2rem 0 2rem 0;
}
.page__header h1 {
  font-family: 'Special Elite', cursive;
  font-weight: 700;
}
.page__header h2 {
  font-family: 'Special Elite', cursive;
  font-size: 1.2rem;
}
.page__attribution {
  text-align: center;
}
.page__sheet .sheet--name {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 0 0 1rem 0;
}
.page__sheet .sheet--name h1 {
  font-family: 'Special Elite', cursive;
  font-weight: 700;
}
.page__sheet .sheet--name h2 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.4em;
}
.page__sheet .sheet--portrait img {
  border-radius: 20px;
}
.page__sheet .sheet__patterns .sheet--archetype {
  list-style-type: none;
  text-align: center;
  padding: 0 0.5rem 0 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.16);
}
.page__sheet .sheet__patterns .sheet--archetype li {
  margin: 0.5rem 0 1rem 0;
}
.page__sheet .sheet__patterns .sheet--archetype li span:nth-child(1) {
  display: block;
  font-family: 'Special Elite', cursive;
  font-weight: 700;
  text-transform: uppercase;
}
.page__sheet .sheet__patterns .sheet--archetype li span:nth-child(2) {
  display: block;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.page__sheet .sheet__patterns .sheet--chronicles,
.page__sheet .sheet__patterns .sheet--purpose {
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.16);
}
.page__sheet .sheet__patterns .sheet--chronicles h4,
.page__sheet .sheet__patterns .sheet--purpose h4 {
  font-family: 'Special Elite', cursive;
  font-weight: 700;
  text-transform: uppercase;
}
.page__sheet .sheet__patterns .sheet--chronicles p,
.page__sheet .sheet__patterns .sheet--purpose p {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.15rem;
  text-transform: uppercase;
}
.page__sheet .sheet__attributes {
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.16);
  padding: 1rem 0 1rem 0;
}
.page__sheet .sheet__attributes h4 {
  font-family: 'Special Elite', cursive;
  font-weight: 700;
  text-transform: uppercase;
}
.page__sheet .sheet__attributes ul {
  list-style-type: none;
  padding: 0;
}
.page__sheet .sheet__attributes ul li {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 0 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.page__sheet .sheet__attributes ul li span:nth-child(1) {
  display: block;
  font-family: 'Special Elite', cursive;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: left;
}
.page__sheet .sheet__background {
  border-bottom: 2px solid rgba(0, 0, 0, 0.16);
  padding: 1rem 0 0 0;
}
.page__sheet .sheet__background h4 {
  font-family: 'Special Elite', cursive;
  font-weight: 700;
  text-transform: uppercase;
}
.page__sheet .sheet__background ul {
  list-style-type: none;
  padding: 0;
}
.page__sheet .sheet__background ul li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 0.5rem 0 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.page__sheet .sheet__background ul li span:nth-child(2) {
  font-family: 'Special Elite', cursive;
}
#attributesChart {
  text-transform: uppercase;
}
.page__blog .post--content h1 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 700;
}
.page__blog .post--content p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
}
